---
layout: splash
author_profile: false
title: "Courses"
permalink: /courses/
---

<head>
  <link rel="stylesheet" href="../_pages/css/courses_main.css">
</head>
<style>
  .card-text .calendar-icon {
    width: 18px; /* Adjust the size as needed */
    height: 18px; /* Adjust the size as needed */
    margin-right: 4px; /* Space between icon and text */
    vertical-align: middle; /* Aligns the icon with the text */
  }
</style>
<br>
{% include base_path %}
<div class="container">
  <div class="row">
    {% for post in site.courses reversed %}
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4" style="background-color: {{ post.card_color | default: '#fff' }};">
        <img class="card-img-top" src="{{ post.header.teaser | prepend: base_path }}" alt="Course image">
        <div class="card-body d-flex flex-column" style="color: {{ post.text_color | default: '#333' }};">
          <h5 class="card-title">
            <img src="{{ post.icon }}" alt="icon" class="icon"> {{ post.title }}
          </h5>
          <p class="card-text">
            <strong>Type:</strong> {{ post.type }}<br>
            <img src="/images/icons/calendar.png" alt="calendar icon" class="calendar-icon">
            <strong></strong> {{ post.date | date: "%B %d, %Y" }}<br>
            <img src="/images/icons/rate.png" alt="rating icon" class="calendar-icon">
            {% for i in (1..post.rank) %}
            {{ post.rank_item }}{% unless forloop.last %} {% endunless %}
            {% endfor %}
          </p>
          <a href="{{ base_path }}{{ post.url }}" class="btn mt-auto" style="background-color: {{ post.button_bg_color | default: '#0056b3' }}; color: {{ post.button_text_color | default: '#ffffff' }};">Learn More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br> <br>
{% include profile_banner.html %}
