<style>
  .card-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0px;
    margin-top: 0px;
    min-height: 2.8em;
    overflow: hidden;
    display: flex;
    align-items: center; /* Aligns icon and title vertically */
  }
  
  .card-title .icon {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    margin-right: 8px; /* Space between icon and title */
  }
  
  .card-text .calendar-icon {
    width: 16px; /* Adjust the size as needed */
    height: 16px; /* Adjust the size as needed */
    margin-right: 4px; /* Space between icon and text */
    vertical-align: middle; /* Aligns the icon with the text */
  }

  /* Container styles */
  .course-previews-container {
    max-width: 100%; /* Ensures container does not exceed the width of the viewport */
    margin: auto;
    padding: 20px; /* Responsive padding */
    color: #6d6d6d; /* Color for the header */
  }

  .container_column {
    display: flex;
    justify-content: space-between; /* Distributes space between the cards */
    align-items: flex-start; /* Aligns items at the start of the container */
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
  }

  .column_x {
    flex: 1;
    padding: 10px;
    min-width: 250px; /* Minimum width for each card */
    box-sizing: border-box; /* Includes padding in width calculation */
  }

  .card {
    box-shadow: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left; /* Align text to the left */
    transition: transform 0.1s; /* Smooth transition for transform */
    border-radius: 8px; /* Rounded corners for the card */
    overflow: hidden; /* Ensures content does not overflow */
    color: #333; /* Default text color */
  }

  .card:hover {
    transform: translateY(-10px); /* Moves card up on hover */
    color: #007bff; /* Changes text color on hover */
  }

  .card-body {
    background-color: #fff; /* White background for card body */
  }

  .card:hover .card-body {
    background-color: #f8f9fa; /* Light background color on hover */
  }

  .card-img-top {
    height: 150px; /* Consistent height for images */
    width: 100%; /* Full width of the container */
    object-fit: cover; /* Ensures the image covers the area */
    border-radius: 8px; /* Rounded corners on images */
  }

  @media (max-width: 768px) {
    .column_x {
      flex-basis: 100%; /* Full width on small screens */
    }
    .course-previews-container {
      padding: 10px;
    }
  }
</style>

<div class="course-previews-container">
  <h2 class="course-previews-header">You Can Read More:</h2>
  <div class="container_column">
    {% assign related_courses = site.courses | where_exp: "post", "post.url != page.url" | sample: 4 %}
    {% for post in related_courses %}
      <div class="column_x">
        <a href="{{ base_path }}{{ post.url }}" style="text-decoration: none;">
          <div class="card mb-4">
            <img class="card-img-top" src="{{ post.header.teaser | prepend: base_path }}" alt="Course image">
            <div class="card-body">
              <h5 class="card-title">
                <img src="{{ post.icon }}" alt="icon" class="icon">{{ post.title }}
              </h5>
              <p class="card-text">
                <img src="/images/icons/calendar.png" alt="calendar icon" class="calendar-icon">{{ post.date | date: "%B %d, %Y" }}
              </p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
