{% include base_path %}

<!-- Start custom footer snippets -->
<style>
  .footer-links {
    text-align: center;
    margin: 0px; /* No vertical space above and between rows */
    font-size: 16px;
  }

  .footer-links a {
    margin: 0 5px;
    color: #535252; /* Darker grey color */
    text-decoration: none;
    font-weight: bold;
  }

  .footer-links a:hover {
    color: #0056b3; /* Darker shade of primary color for hover effect */
    text-decoration: none;
  }

  .footer-links i, .footer-links img {
    margin-right: 0px;
    vertical-align: middle; /* Aligns the icon with the text */
  }

  .footer-links .fa-rss-square {
    color: #FFA500; /* Orange color for the RSS feed icon */
  }

  .footer-links .fa-rss-square:hover {
    color: #cc8400; /* Darker shade of orange for hover effect */
  }

  .footer-copyright {
    text-align: center;
    font-size: 14px;
    color: #6c757d; /* Bootstrap secondary text color */
    margin: 5px 0 5px; /* Minimal vertical space for a compact look */
  }
</style>

<div class="footer-links">
  <a href="/sitemap/">
    <img src="/images/icons/sitemap.png" alt="Sitemap Icon" style="height: 16px;">  Sitemap
  </a>
  {% if site.author.github %}
    <a href="http://github.com/{{ site.author.github }}" target="_blank">
      <i class="fab fa-github" aria-hidden="true"></i> GitHub
    </a>
  {% endif %}
  {% if site.atom_feed.hide != true %}
    <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" target="_blank">
      <i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed
    </a>
  {% endif %}
</div>

<div class="footer-copyright">
  &copy; {{ site.time | date: '%Y' }} <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}/" 
  target="_blank" rel="noopener noreferrer nofollow">{{ site.name | default: site.title }}</a>.
</div>
