/* Container and Grid System */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center; /* Center all items */
}

.col-md-4 {
  position: relative;
  width: 25%; /* Default width for larger screens */
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px; /* Adds vertical space between rows */
  display: flex; /* Ensures alignment at the bottom */
}

@media only screen and (max-width: 768px) {
  .col-md-4 {
    width: 100%; /* Full width on smaller screens */
    max-width: 350px; /* Ensures consistent size */
    margin-bottom: 10px; /* Add a little space between cards */
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .card {
    margin-bottom: 10px; /* Add a little space between cards */
    margin-top: 10px; /* Add a little space between cards */
    width: calc(100% - 10px); /* Ensure consistent card width */
  }
  
  .card-title {
    font-size: 14px; /* Reduce font size */
  }
  
  .card-text {
    font-size: 13px; /* Reduce font size */
  }
  
  .btn {
    padding: 6px 6px; /* Reduce padding */
    font-size: 13px; /* Reduce font size */
  }
  
  .card-img-top {
    height: 150px; /* Reduced image height */
    width: 100%; /* Ensure consistent image width */
  }
  
  .icon {
    width: 20px; /* Reduce size */
    height: 20px; /* Reduce size */
  }
  
  .calendar-icon {
    width: 10px; /* Reduce size */
    height: 10px; /* Reduce size */
  }
}

/* Card Styles */
.card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure all cards are the same height */
  background-color: #fff; /* Default background color, can be overridden inline */
  box-shadow: 0 4px 8px #00000033;
  border-radius: 15px; /* Rounded corners for the card */
  overflow: hidden; /* Ensures nothing hangs out of the border-radius */
  transition: box-shadow 0.3s;
  width: 100%; /* Ensure consistent card width */
  margin-bottom: 10px; /* Add a little space between cards */
}

.card:hover {
  box-shadow: 0 8px 16px #00000066; /* Larger shadow on hover for a "lifted" effect */
}

.card-img-top {
  width: 100%;
  height: 150px; /* Reduced height for the image */
  object-fit: cover; /* Ensures the image covers the area properly */
  position: relative;
  display: block;
}

.card-body {
  padding: 15px;
  flex-grow: 1; /* Allows the body to fill space and push the footer down */
  display: flex;
  flex-direction: column;
  color: #333; /* Default text color, can be overridden inline */
}

.card-title {
  font-weight: bold;
  font-size: 18px; /* Larger and bolder font for the title */
  line-height: 1.4; /* Adjust line-height to manage space between lines */
  margin-bottom: 0px; /* Space below the title */
  margin-top: 0px;
  min-height: 2.8em; /* Approximately twice the line-height to reserve space for two lines */
  overflow: hidden; /* Prevents text from spilling over the reserved space */
  display: flex;
  align-items: center; /* Aligns icon and title vertically */
}

.card-title .icon {
  width: 34px; /* Adjust the size as needed */
  height: 34px; /* Adjust the size as needed */
  margin-right: 8px; /* Space between icon and title */
}

.card-text {
  font-size: 16px; /* Standard text size for the body */
  flex-grow: 1; /* Allows text to expand within the card body */
}

.btn {
  padding: 10px 10px;
  color: #fff; /* Default button text color */
  background-color: #007bff; /* Default button background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-end; /* Align the button to the right edge */
}

.btn:hover {
  background-color: #254c74 !important; /* Darker blue on hover for the button */
  border-color: #ffffff !important;
}

/* Utility Classes */
.mt-auto {
  margin-top: auto; /* Pushes the button to the bottom of the card */
}
