/* Styles for page headers and text elements */
.header {
    color: #C70039;  /* Deep red color */
    font-weight: bold;
    font-family: 'Georgia', serif;
    text-align: left;
    margin: 20px 0;
}

p {
    text-align: justify;
    margin: 10px 0;
    font-size: 16px;  /* Default text size */
}

a {
    color: #B8860B;  /* Dark gold color */
    text-decoration: none !important;  /* Removes underline */
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #00000000, #000000bf, #00000000);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styles for the course page header image */
.course-header {
    position: relative;
    text-align: left;
    width: 100%;
    overflow: hidden;
    height: 180px; /* Fixed height for the header area */
}

.visitor-count-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end; /* Aligns the items to the right */
    align-items: center;
    background-color: #3c5b6faf;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-shadow: 0px 0px 5px #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: max-content;
}

.visitor-label {
    margin-right: 10px;
    padding: 5px 10px;
}

.visitor-number {
    flex-grow: 1;
    background-color: #4c6b7fbe;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-header img {
    width: 100%;
    max-height: 180px;  /* Maximum height of the image */
    object-fit: cover;  /* Ensures the image covers the area without distorting aspect ratio */
    display: block;     /* Ensures there is no gap below the image */
    z-index: 1;         /* Lower z-index because it's the background */
}

.course-header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to top, 
        rgba(128, 0, 128, 0.671),  /* Starts strong from bottom */
        rgba(88, 30, 88, 0) 30%  /* Fades out towards the top */
    ),
    linear-gradient(
        to right,
        rgba(128, 0, 128, 0.671),  /* Starts strong from left */
        rgba(88, 30, 88, 0) 30%  /* Fades out towards the right */
    );
    z-index: 2; /* Higher z-index to be above the image */
}

.course-title {
    display: flex; /* Flexbox to align the icon with the text */
    align-items: center; /* Center items vertically */
    justify-content: start; /* Align items to the start of the container */
    font-weight: bold;
    position: absolute;
    white-space: nowrap; /* Prevents the title from wrapping */
    bottom: 10px;  /* Distance from the bottom of the image */
    left: 5px;     /* Aligned with the left edge of the image */
    color: white;  /* White text for better visibility */
    font-size: 32px;  /* Larger font size for prominence */
    z-index: 3; /* Ensures title is above the overlay */
}

.course-title img{
    width: 50px; 
    height: 50px; 
    vertical-align: middle; 
    margin-right: 5px;
}    

.course-rank {
    position: absolute;
    right: 5px;    /* Aligned with the right edge of the image */
    bottom: 10px;
    color: #ffd700; /* Gold color for stars, typically */
    font-size: 24px; /* Size of the rank items */
    z-index: 3; /* Ensures rank items are above the overlay and visible */
}

.course-icon {
    width:50px; /* Size of the icon */
    height: 50px; /* Size of the icon */
    margin-right: 10px; /* Space between the icon and the title */
}

@media (max-width: 768px) {
    .course-title, .course-rank {
        font-size: 20px;  /* Smaller font size for mobile devices */
    }
    .course-title {
        bottom: 5px;  /* Adjust position for smaller screens */
        left: 5px;    /* Adjust position for smaller screens */
    }
    .course-rank {
        right: 5px;   /* Adjust position for smaller screens */
        top: 5px;     /* Adjust position for smaller screens */
    }
    .course-icon {
        width: 10px; /* Smaller icon size for mobile devices */
        height: 10px; /* Smaller icon size for mobile devices */
    }
}

/* Highlight for the Exercises section with a more polished and professional look */
.exercises-header {
    background: linear-gradient(to right, var(--header-start-color, #003C43), rgba(255, 255, 255, 0)); /* Default color, customizable */
    color: var(--header-text-color, #ffffff); /* Default text color, customizable */
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px 0;
    display: block;
    transition: background-color 0.3s ease;
}

.exercises-header img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Adds space between each section */
}

.flex-text {
    width: 60%;
}

.flex-image {
    width: 40%;
}

.flex-image img {
    width: 100%; /* Ensures the image uses the full width of its container */
}

/* Add this to your CSS file or in a <style> tag in the HTML head */
.pdf-link {
    font-weight: bold; /* Makes the text bold */
    text-decoration: none; /* Optional: Removes underline from links */
}
.pdf-link img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.pdf-list {
    list-style-type: disc;
    padding-left: 60px;
}

.container_column {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between the columns */
    align-items: flex-start; /* Aligns columns at the top */
}

.column_x {
    flex: 1; /* Each column takes up equal space */
    padding: 10px; /* Adds some padding around the content */
}


.warning {
    background-color: #ff4c4c;
    color: white;
    padding: 4px;
    direction: rtl;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    border-radius: 10px;
}
.warning img {
    margin-left: 10px;
    width: 30px; /* Smaller icon size for mobile devices */
    height: 30px; /* Smaller icon size for mobile devices */
}